html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

li {
	padding-top: 1.5rem;
    height: 34rem;
    width: 21.5rem;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	border: 2px solid #8D8D8D;
	border-radius: 0.5rem;
	background-color: #F7F7F7;
}

span {
	display: flex;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.i-html {
	background: url('0-sprite.png') no-repeat -30px -40px;
	width: 221px;
	height: 311px;
}

.i-css {
	background: url('0-sprite.png') no-repeat -319px -40px;
	width: 221px;
	height: 311px;
}

.i-js {
	background: url('0-sprite.png') no-repeat -609px -40px;
	width: 221px;
	height: 311px;
}