.toggle {
	position: relative;
	width: 6.5rem;
	height: 2rem;
}

.toggle-cb {
	display: none;
}

.toggle-switch {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #EBEBEB;
	transition: .5s;
	border-radius: 2rem;
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.2rem;
    border: .1rem solid #C7C7C7;
}

.toggle-switch:before {
	position: absolute;
	content: "";
    left: -.5rem;
	height: 2.5rem;
	width: 2.5rem;
    border: .1rem solid #C7C7C7;
	background-color: white;
	transition: .5s;
	border-radius: 50%;
}

input:checked+label>.toggle-switch {
	background-color: #E1013C;
	color: white;
    align-items: flex-start;
}

input+label>.toggle-switch {
    font-family: arial;
    font-weight: bold;
    font-size: 1.2rem;
	color: #C3C3C3;
    align-items: flex-end;
}

input:checked + .toggle-label .toggle-switch:before {
    left: 4rem;
}

input:checked + .toggle-label .toggle-switch:after {
	content: "Yes";
}

input+ .toggle-label .toggle-switch:after {
	content: "No";
}